header {
    position: absolute;
    top: -40px;
    right: 20px;
    Left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255 255 255 / 63%);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

    header .logo {
        width:100px;
        color: #8a2435;
        font-weight: 700;
        text-decoration: none;
        font-size: 2em;
    }

    header ul {
        display: flex;
    }

        header ul li {
            list-style: none;
            margin: 0 10px;
        }

            header ul li a {


                text-decoration: none;
                font-weight: 500;
                color: #8a2435;
                padding: 8px 15px;
                border-radius: 25px;
            }

                header ul li a:hover,
                header ul li a.active {
                    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255,0.5);
                    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
                    background: rgb(255 196 247);
                }


.profileimg {
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0px;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 0;
}