@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.content {
    text-align: center;
    transform: translateX(-35px);
    max-width: 700px;
    /* border-radius: 20px; */
    /* border: 1px solid rgb(235 16 16); */
    /* padding: 10px; */
    /* margin: 10px; */
    /* padding-left: 110px; */
    /* padding-left: 110px; */
}
.editarea {
    min-width: calc(100% - 145px);
    min-height: 500px;
    transform: translateX(-20px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    /* padding: 20px; */
    margin: 5px;
}

.content ul li a:hover {
        background: rgb(255 196 247);
}

.about {
    min-width: calc(100% - 145px);
    min-height: 400px;
    transform: translateX(-20px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    padding: 20px;
    margin: 5px;
}

.galimg {
    transform: translateX(-20px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    /* padding: 20px; */
    margin: 5px;
}

.galdiaplayimge {
    border-radius: 10px;
    max-height: 350px;
    max-width: 350px;
}


.element {
    min-width: 270px;
    min-height: 400px;
    transform: translateX(-20px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    padding: 20px;
    margin: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: column;
}

.displayimage {
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

.text {
    font-weight: 500;
    color: #8a2435;
    /* padding: 8px 15px; */
    margin: 3px;
}


.griding {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 5px;
}
    .content a {
        display: inline-block;
        min-width: 100%;
        padding: 15px 30px;
        /*background: rgb(255 196 247);*/
        color: #8a2435;
        margin: 5px;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: 500;
        text-decoration: none;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255,0.5);
    }

section {
    display: flex;
    background: url(/Sources/img/dept.jpg);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: lawngreen; */
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

@media (max-width: 920px) {
    .container
    {
        min-width: 720px;
        max-width: 720px;
    }
}


@media (max-width: 800px) {
    header {
        flex-wrap: wrap;
        flex-direction: column;
    }
}



@media (min-width: 1080px) {
    .container {
        min-width: 1080px;
        max-width: 1500px;
        min-height: 600px;
    }
}

@media (min-width: 900px) {
    .container {
        min-width: 900px;
        max-width: 1500px;
        min-height: 600px;
    }
}

@media (min-width: 800px) {
    .container {
        min-width: 800px;
        max-width: 1500px;
        min-height: 600px;
    }
}

.container {
    position: relative;
    width: calc(100% - 40px);
    /* height: calc(100% - 40px); */
    /* min-height: calc(10vh - 280px); */
    /* min-height: 480px; */
    /* max-height: 720px; */
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}







        /*.content h2 {
            font-size: 3em;
            color: #8a2435;
        }

        .content p {
            font-size: 1.2em;
            color: #8a2435;
        }*/

    

/*.imgBx img {
    max-width: 400px;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(100px);
    }
}
*/

/*
            .sci li a img {
                transform: scale(0.6);
                transition: 0.5s;
            }*/

    /*    .sci li:hover a img {
            transform: scale(0.6) rotate(360deg);
        }*/

.copyrightText {
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-size: 12px;
    color: #8a2435;
}

/*
@media (max-width:992px) {
    section {
        padding: 50px 10px 10px;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

        .container .content .editarea{
            transform: translateX(0px);
            max-width: 100%;
            padding: 30px;
            margin-top: -40px;

        }

    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        top: -60px;
        right: 0;
        left: 0%;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    }

        header ul {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }

            header ul li {
                margin: 2px;
            }

                header ul li a {
                    display: inline-block;
                }

    .imgBx {
        margin-bottom: 50px;
    }

    .content a {
        font-size: 1em;
        padding: 10px 20px;
    }

    @keyframes animate {
        0%,100% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }
    }

    .sci {
        position: relative;
        flex-direction: row;
        left: 0;
    }

        .sci li a {
            margin: 0 10px;
        }

    .copyrightText {
        position: relative;
        bottom: initial;
        left: initial;
        width: 100%;
        color: #8a2435;
        text-align: center;
        margin-top: 20px;
    }
}
*//*
@media (max-width : 600px) {
    .content h2 {
        font-size: 1.5em;
        color: #8a2435;
    }

   
    .content p {
        font-size: 1em;
        color: #8a2435;
    }

    .imgBx img {
        max-width: 300px;
    }
}*/
