header ul li a.hed_team {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    background: rgb(255 196 247);
}
